@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    /* ## Colors */
            /* ### Primary */

    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);

            /* ### Neutral */
    --dark-gray: hsl(0, 0%, 59%);

    /* ## Typography */
            /* font size */
    --heading: 18px; /*name and stats*/
    --normal-text: 14px; /*name and stats*/
            /* font weight */
    --normal-fw: 400;
    --bold-fw: 700;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans';
}
body {
    background: var(--dark-cyan);
}
h1 {
    font-size: var(--heading);
    color: var(--very-dark-desaturated-blue);
    font-weight: var(--bold-fw);
}
p {
    font-size: var(--normal-text);
    color: var(--dark-grayish-blue);
    font-weight: var(--normal-fw);
}

@media screen and (min-width: 360px) {
    .container {
        width: 100%;
        height: 100%;
        background: var(--dark-cyan);
    }
    .img__bg {
        position: fixed;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 50% 50%;
    }
    .img-top {
        width: 100%;
        height: auto;
        background: url(../images/bg-pattern-top.svg);
        background-size: 200%;
        background-repeat: no-repeat;
        background-position-x: 139.7%;
        background-position-y: 105.3%;
    }
    .img-bottom {
        width: 100%;
        height: auto;
        background: url(../images/bg-pattern-bottom.svg);
        background-size: 200%;
        background-repeat: no-repeat;
        background-position-x: -50%;
        background-position-y: 5%;
    }
    .card {
        position: fixed;
        width: 86.68%;
        height: 56.22%;
        top: 22.03%;
        left: 6.66%;
        display: grid;
        grid-template-rows: 37.33% 62.66%;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 10px 40px rgba(0,0,0,.50);
    }
    .img__bx {
        width: 100%;
        height: 100%;
        background: url(../images/bg-pattern-card.svg);
        background-size: cover;
        display: flex;
        justify-content: center;
    }
    
    .hero {
        position: relative;
        border-radius: 50%;
        border: 5px solid #fff;
        transform: translateY(50%);
        cursor: pointer;
        transition: .4s;
    }
    .hero:hover {
        filter: saturate(1.5);
        border: 5px solid rgb(59, 199, 255);


    }
    .content__bx {
        margin-top: 20.53%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .name__bx {
        width: 41%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .name {
        width: max-content;
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 2px;
        align-items: baseline;
    }
    .name p {
        font-size: var(--heading);
    }
    .address {
        margin-top: 4.53%;
        text-align: center;
    }
    .status__bx {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-top: 1px solid hsl(0, 0%, 88%);
        padding-top: 5%;
    }
    .stattus h1,
    .stattus p {
        text-align: center;
    }
    .number {
        letter-spacing: 1.5px;
    }
    
}

.attribution {
    position: fixed;
    bottom: -20px;
}


@media screen and (min-width: 1220px) {
    .container {
        width: 100%;
        height: 100%;
    }
    .img__bg {
        position: fixed;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 50% 50%;
    }
    .img-top {
        width: 100%;
        height: auto;
        background: url(../images/bg-pattern-top.svg);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position-x: 0%;
        background-position-y: 100%;
    }
    .img-bottom {
        width: 100%;
        height: auto;
        background: url(../images/bg-pattern-bottom.svg);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 0%;
    }
    .card {
        
        width: 24.305%;
        height: 51.944%;
        top: 24.027%;
        left: 37.847%;
    }

}